@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header,
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 28px;
}

.banner.mobile,
.mob {
    display: none !important;
}

.banner img {
    width: 100%;
    height: auto;
}

.text-img {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 50px 10px;
}

.text-img .text {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    display: grid;
    max-width: 950px;
    gap: 5px;
}

h2.subtitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
}

h1.title {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 48px;
}

.text-img .text p {
    text-align: initial;
}

.bloco {
    background-color: white;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 20px;
    box-shadow: 1px 1px 10px #cdcdcd;
}

.tres-blocos {
    display: grid;
    grid-auto-flow: column;
    padding: 50px 10px;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
}

.tres-blocos .bloco {
    min-width: 100%;
    max-width: 100%;
    min-height: 287px;
    max-height: 287px;
}

.bloco p {
    max-width: 250px;
    text-align: center;
}

.tres-banners {
    display: grid;
    grid-auto-flow: column;
    max-width: 1300px;
    margin: auto;
    gap: 20px;
    place-content: center;
    place-items: center;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0px 15px;
}

.tres-banners img {
    width: 100%;
    height: 100%;
}

.gray-background {
    background-color: #E0E0E0;
    position: relative;
    min-height: 350px;
    margin-bottom: 120px;
}

.quatro-blocos {
    display: grid;
    grid-auto-flow: column;
    padding: 50px 10px;
    max-width: 1300px;
    margin: auto;
    gap: 10px;
}

.quatro-blocos .bloco {
    min-width: 100%;
    max-width: 100%;
    min-height: 332px;
    max-height: 332px;
}

.img-text {
    padding: 10px 0px 80px 0px;
    display: grid;
    max-width: 1200px;
    margin: auto;
    gap: 25px;
    place-items: center;
}

.img-text .text {
    display: grid;
    gap: 10px;
    max-width: 450px;
    text-align: center;
}

.footer-icons {
    display: grid;
    place-content: center;
    place-items: center;
    grid-auto-flow: column;
    gap: 20px;
    margin-bottom: 10px;
}

footer p {
    font-size: 10px;
    font-weight: 200;
}

@media screen and (max-width:1163px) {
    .text-img,
    .img-text {
        grid-template-columns: unset;
        grid-auto-flow: unset;
        place-items: center;
        gap: 40px;
    }
    .tres-blocos,
    .quatro-blocos {
        grid-auto-flow: unset;
        gap: 15px;
    }
    .tres-blocos .bloco,
    .quatro-blocos .bloco {
        min-width: 90%;
        max-width: 90%;
        margin: auto;
    }
    .text-img .text p {
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    h1 {
        font-size: 24px;
    }
    h2.subtitle {
        font-size: 20px;
    }
    h1.title {
        font-size: 28px;
    }
    .banner.mobile,
    .mob {
        display: block !important;
    }
    .banner,
    .desk {
        display: none;
    }
    .gray-background {
        margin-bottom: 250px;
        min-height: 415px;
        max-height: 415px;
    }
    .tres-banners.mob {
        display: grid !important;
        grid-auto-flow: unset;
        width: 100%;
        max-width: 400px;
        min-width: 200px;
        gap: 15px;
        place-content: normal;
        padding: 10px;
    }
    .tres-banners.mob>.duo {
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        width: 100%;
    }
    .img-text .text {
        padding: 0px 10px;
    }
}